html, body {
    font-family: 'Space Mono', monospace;
}


img {
    padding: 1rem 0;
    align-self: center;
    width:  70%;
    height: 70%;
    object-fit: contain;
    
}

.Loader {
    text-align: center;
    margin: 17rem 0;
}

a {
    text-decoration: none;
    color: black;
}

.Footer {
    text-align: center;
    background-color: #F96167;
    text-color: #FFFFFF
    position: absolute;
    width: 100%;

}

.Icons i {
    padding: 0.5rem 0.5rem;
    
}
.Icons a {
    color: #FFFFFF; 
   
}